@model BoardGameApp.Models.ViewBoardGamesModel
@{
    ViewBag.Title = "List of Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista gier</h2>
<div>
    @if (Model.BoardGames.Count == 0)
    {
        <p>Nie znaleziono gier</p>
    }
    else
    {
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var boardGame in Model.BoardGames) {
                <tr>
                    <td>@boardGame.Title</td>
                    <td>
                        <button class="btn btn-default">
                            @Html.ActionLink("Show details", "Details/" + boardGame.Id, "BoardGame")
                        </button>
                        <button class="btn btn-default">
                            @Html.ActionLink("Edit", "Edit/" + boardGame.Id, "BoardGame")
                        </button>
                        <button class="btn btn-default">
                            @Html.ActionLink("Remove", "Remove/" + boardGame.Id, "BoardGame")
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>