@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Moje konto</h2>

@Html.ActionLink("Moje rezerwacje", "UserBoardGames", "BoardGame", new { @class = "btn btn-default", @type= "submit" })
@Html.ActionLink("Moje dane", "UserData", "Account", new { @class = "btn btn-default", @type= "submit"})