<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("Planszówki", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="navbar-collapse collapse" id="navbarSupportedContent">

            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Gry", "Index", "BoardGame", null, new { @class = "nav-link" })</li>
                @if (User.IsInRole(BoardGameApp.Models.Notifications.ROLE_ADMIN))
                {
                    <li class="nav-item">@Html.ActionLink("Użytkownicy", "Index", "User", null, new {@class = "nav-link"})</li>
                }
            </ul>
            @Html.Partial("_Auth")
        </div>
    </div>
</nav>